.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color: #5e4485;
    color: #ffffff;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}
.navbar-brand{
    float: left;
    min-height: 55px;
    padding: 0 15px 15px;
    font-family: 'Permanent Marker',
    cursive;
    font-size: 3em;

}
.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover{

    color: #ffffff;
    background-color: #5e4485;
}

.navbar-inverse .navbar-nav .active a:hover
{
    color: #D5D5D5;
}
#logo{
    color: #15b5dd;
    font-size: 3em;
}
#subtitle{
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 2em;

}
